* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  width: 100vw;
  height: 3.7rem;
  background-color: #000000;
}

.logo {
  width: 8rem;
  top: 1rem;
  left: 6%;
  position: absolute;
}

.controls {
  position: absolute;
  text-align: center;
  top: 0.6rem;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

body {
  height: 80vh;
  background: linear-gradient(90deg, #35122e, #194b32);
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
  color: #000;
  overflow-x: hidden;
}

.button {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 200;
  margin: 0 3rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  transform: scale(1.06);
}

.stopwatch {
  top: 17rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  text-align: center;
  position: absolute;
}

.results {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 414px) {
  .controls {
    top: 0.7rem;
    left: 10%;
  }

  .logo {
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    font-size: 2rem;
    margin: 0 2rem;
  }

  .stopwatch {
    font-size: 3rem;
    top: 4rem;
  }

  .results {
    bottom: 5rem;
  }
} ;
